@mixin hover-styling($color, $cursor) {
  color: $color;
  cursor: $cursor; 
}

@mixin font-style-size($style, $size) {
  font-family: $style;
  font-size: $size;
}

@mixin search-styling($padding, $border, $margin-bottom) {
  padding: $padding;
  border: $border; 
  margin-bottom: $margin-bottom;
}