@import 'variables';
@import 'mixins';
@import 'login';
@import 'dashboards'; 

header {
  background: $primary-color;
  color: white;  
  padding-left: 1em;
  padding-right: 1em;
}

.logo-section, .search {
  display: flex; 
}

#logo {
  padding: 1.5em;
}

nav button {
  float: right; 
  margin-top: .5%; 

  &:hover {
    @include hover-styling(white, pointer, $secondary-color);
  }
} 

body {
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
} 

h1 {
  @include font-style-size($headline-font, 2.5em);
}

h2 {
  @include font-style-size($headline-font, 1.8em);
  text-align: center;
  padding-top: 1em;
}

h3 {
  @include font-style-size($body-font, 1.3em);
  text-align: center;
}

p, label {
  @include font-style-size($body-font, 1em);
}

.error {
  color: red; 
}

.success {
  color: $primary-color; 
}

.hidden {
  display: none; 
}